In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy.stats import mode

In [11]:
f = '/srv/two/zhutchen/paper3/catalogs/realistic_lsdr9/eco_Pth0.01.csv'

In [12]:
eco = pd.read_csv(f).set_index('name')

/tmp/ipykernel_2307193/2543439861.py:1: DtypeWarning: Columns (229) have mixed types. Specify dtype option on import or set low_memory=False.
  eco = pd.read_csv(f).set_index('name')

In [13]:
eco

,ls_id,resname,dedeg,radeg,r50,b_a,r90,cz,mhi,logmgas,...,bestzerr,simz,simzerr,Pth,pg3grp,P_TR,C_TR,P_RT,C_RT,grpn_TR
name,,,,,,,,,,,,,,,,,,,,,
ECO00001,9.906631e+15,notinresolve,25.966400,139.373700,10.03170,0.6407,33.67770,6454.850000,1.039484e+10,10.162946,...,0.000333,0.019267,0.004190,0.01,1.0,1.000000,1.000000,1.000000,1.0,1
ECO00002,9.906625e+15,notinresolve,8.533000,185.077800,8.77565,0.8521,17.30710,4338.920000,1.414503e+09,9.296732,...,0.000333,0.015319,0.004677,0.01,585.0,0.428571,0.750000,0.285714,1.0,7
ECO00003,9.906625e+15,notinresolve,9.606000,144.111690,9.76630,0.7120,21.55570,5445.596907,1.841028e+09,9.407355,...,0.000117,0.019641,0.005478,0.01,11824.0,1.000000,1.000000,1.000000,1.0,1
ECO00004,9.906625e+15,notinresolve,9.178800,144.991500,3.55113,0.6203,9.99685,6368.973567,1.507021e+09,9.318695,...,0.000004,0.025002,0.006458,0.01,11825.0,1.000000,1.000000,1.000000,1.0,1
ECO00005,9.906625e+15,notinresolve,10.219000,145.611600,3.08847,0.5376,7.68641,5714.050128,6.955444e+08,8.586134,...,0.000093,0.021251,0.005591,0.01,11826.0,1.000000,1.000000,1.000000,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ls_only,9.907734e+15,NaN,36.359898,217.506233,NaN,NaN,NaN,-99.000000,NaN,NaN,...,0.004698,0.023003,0.004698,0.01,4449.0,0.333333,0.000762,-99.000000,-99.0,3
ls_only,9.906632e+15,NaN,28.655047,233.704504,NaN,NaN,NaN,-99.000000,NaN,NaN,...,0.004906,0.011666,0.004906,0.01,4468.0,0.500000,0.000762,-99.000000,-99.0,2
ls_only,9.907734e+15,NaN,36.502829,229.319779,NaN,NaN,NaN,-99.000000,NaN,NaN,...,0.010364,0.017144,0.010364,0.01,4489.0,0.500000,0.000762,-99.000000,-99.0,2
ls_only,9.907734e+15,NaN,36.937065,234.664856,NaN,NaN,NaN,-99.000000,NaN,NaN,...,0.008729,0.021228,0.008729,0.01,1518.0,0.500000,0.000762,-99.000000,-99.0,2
ls_only,9.907734e+15,NaN,36.534497,236.195412,NaN,NaN,NaN,-99.000000,NaN,NaN,...,0.008941,0.015147,0.008941,0.01,4497.0,0.500000,0.000762,-99.000000,-99.0,2

In [14]:
def get_stats(df, g3grpid):
    g3 = df[df.g3grp_l==g3grpid]
    print('original galx: ', g3.index.to_numpy())
    print('pg3 IDs: ', g3.pg3grp.to_numpy())
    pg3mode = mode(g3.pg3grp.to_numpy())
    print('mode pg3_id = {a}'.format(a=pg3mode.mode))
    pg3grp = df[df.pg3grp==pg3mode.mode]
    print('####################################')
    print('G3 IDs in test group: ', pg3grp.g3grp_l.to_numpy())
    print('pg3 P_TR: ', pg3grp.P_TR.to_numpy())
    print('pg3 C_TR: ', pg3grp.C_TR.to_numpy())
    print('#####################################')
    print('pg3 P_RT: ', pg3grp.P_TR.to_numpy())
    print('pg3 C_RT: ', pg3grp.C_TR.to_numpy())

# G3 group 5 (N=4)

In [15]:
get_stats(eco, 5)

original galx:  ['ECO00232' 'ECO02804' 'ECO12048' 'ECO12081']
pg3 IDs:  [   5. 3044. 3044. 3046.]
mode pg3_id = 3044.0
####################################
G3 IDs in test group:  [  5.   5. -99.]
pg3 P_TR:  [0.66666667 0.66666667 0.66666667]
pg3 C_TR:  [0.5 0.5 0.5]
#####################################
pg3 P_RT:  [0.66666667 0.66666667 0.66666667]
pg3 C_RT:  [0.5 0.5 0.5]

# G3 group 42 (N=4)

In [7]:
get_stats(eco, 42)

original galx:  ['ECO01114' 'ECO04553' 'ECO06812' 'ECO07075']
pg3 IDs:  [42. 42. 42. 42.]
mode pg3_id = 42.0
####################################
G3 IDs in test group:  [   42.    42.    42. 13114.    42.]
pg3 P_TR:  [0.8 0.8 0.8 0.8 0.8]
pg3 C_TR:  [1. 1. 1. 1. 1.]
#####################################
pg3 P_RT:  [0.8 0.8 0.8 0.8 0.8]
pg3 C_RT:  [1. 1. 1. 1. 1.]

# G3 group 95 (N=2)

In [8]:
get_stats(eco, 95)

original galx:  ['ECO02205' 'ECO08516']
pg3 IDs:  [96. 96.]
mode pg3_id = 96.0
####################################
G3 IDs in test group:  [95. 95.]
pg3 P_TR:  [1. 1.]
pg3 C_TR:  [1. 1.]
#####################################
pg3 P_RT:  [1. 1.]
pg3 C_RT:  [1. 1.]

# G3 group 101 (N=3)

In [9]:
get_stats(eco, 101)

original galx:  ['ECO02232' 'ECO02454' 'ECO02894']
pg3 IDs:  [102. 216. 216.]
mode pg3_id = 216.0
####################################
G3 IDs in test group:  [  101.   101. 12305. 12554.]
pg3 P_TR:  [0.5 0.5 0.5 0.5]
pg3 C_TR:  [0.66666667 0.66666667 0.66666667 0.66666667]
#####################################
pg3 P_RT:  [0.5 0.5 0.5 0.5]
pg3 C_RT:  [0.66666667 0.66666667 0.66666667 0.66666667]